.gs-container{
    width: 1000px;
    height: 600px;
    overflow: hidden;
}

.gs-carousel-item{
   height: calc(100% / 5);
}

.gs-img-effect{
    filter: opacity(50%);
    object-position: 50% 30% ;
}

.active{
    filter: opacity(100%)!important;
    border: 3px solid rgb(207, 43, 43);  
}